@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

:root {
  font-family: "Josefin Sans";
  color-scheme: #fff;
  color: rgba(255, 255, 255, 0.87);
  background-color: #181824;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Josefin sans";
  background-image: url("../public/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
}

.container {
  width: 450px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-title {
  letter-spacing: 10px;
}

.header-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.light {
  background-color: #fff;
  color: #181824;
}
.dark {
  background-color: #181824;
  color: #fff;
}

form {
  width: 450px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.new-form {
  font-size: 12px;
  background-color: #dc3545;
  cursor: pointer;
}
.new-form:hover {
  opacity: 0.9;
}
.new-todo {
  display: flex;
  gap: 10px;
}

input[type="text"] {
  background: none;
  background-color: #25273c;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  border: 0;
  border-radius: 5px;
  color: #fff;
  margin-left: 10px;
}
input[type="text"]:focus {
  border: none;
  outline: none;
}

input[type="radio"] {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.list {
  width: 400px;
  margin: 0 auto;
  background-color: #25273c;
  margin-top: 20px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #445353;
}
.list-item {
  flex: 1;
  padding: 20px;
  font-size: 12px;
  color: #fff;
}

.delete-button {
  color: #dc3545;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: none;
}

.edit {
  margin-right: 10px;
}
.edit:hover {
  cursor: pointer;
}

.sort {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #fff;
  background-color: #dc3545;
  padding: 20px;
  width: 400px;
  margin: 0 auto;
}

select {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #25273c;
  color: #fff;
}

button {
  padding: 8px 14px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  background-color: #181824;
}

.attribution {
  margin-top: 20px;
  font-size: 12px;
  text-align: center;
}

.remaining,
.clear-all {
  font-size: 14px;
}
.remaining {
  font-size: 18px;
}

.clear-all {
  cursor: pointer;
}

.clear-all:hover {
  opacity: 0.9;
}

.stats {
  text-align: center;
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  color: #dc3545;
}

span {
  font-size: 20px;
  margin-right: 5px;
}
